<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>System Configuration</title>
</head>
<body>
  <h4>Dingtalk Dispatcher Configuration</h4>

  <hr>
  <div>
    <div>Dingtalk configuration</div>
    <div>
      <div>AES Token</div>
      <div>
        <input type="text">
      </div>
    </div>
    <div>
      <div>AES key</div>
      <div>
        <input type="text">
      </div>
    </div>
    <div>
      <div>App Key</div>
      <div>
        <input type="text">
      </div>
    </div>
  </div>
  <hr>
  <div>
    <div>Event Configuration</div>
    <div>
      <div>Max Retry times</div>
      <div>
        <input type="number" min="1" max="10"  value="3" />
      </div>
    </div>
    <div>
      <div>Log Enable</div>
      <div>
        <input type="checkbox" />
      </div>
    </div>
    <div>
      <div>
        <button>Submit</button>
      </div>
    </div>
  </div>

<script>

</script>
</body>
</html>